@font-face {
    font-family: 'GT Super Display';
    src: url('../../fonts/GTSuperDisplay-Light.woff2') format('woff2'), url('../../fonts/GTSuperDisplay-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}