.skim-chem-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    overflow: hidden;
    &::after {
        content: '';
        background-image: url("../images/shape-ellipse-secondary.svg");
        width: 500px;
        height: 500px;
        background-position: center;
        background-color: transparent;
        position: absolute;
        left: calc(485px / -2);
        top: calc(485px / -2);
        z-index: -3;
        opacity: .8;
        transform-origin: center;
        animation: scaling 1.2s linear infinite;
        background-size: contain;
        background-repeat: no-repeat;
     
    }
    // &::before {
    //     content: '';
    //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='360' height='258' viewBox='0 0 360 258'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_7' data-name='Rectangle 7' width='360' height='258' transform='translate(0 868)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_5' data-name='Rectangle 5' width='234' height='253' transform='translate(2115 2945)' fill='%23fff' stroke='%23707070' stroke-width='1'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_7-2' data-name='Rectangle 7' width='360' height='258' transform='translate(0 868)' fill='%23fff' stroke='%23f1b95b' stroke-width='1'/%3E%3C/clipPath%3E%3ClinearGradient id='linear-gradient' x1='0.859' y1='0.643' x2='0.5' y2='1' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23f1b95b' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f1b95b'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Group_8' data-name='Group 8' transform='translate(-1989 -2940)'%3E%3Cg id='Mask_Group_1' data-name='Mask Group 1' transform='translate(1989 2072)' clip-path='url(%23clip-path)'%3E%3Cg id='Ellipse_11' data-name='Ellipse 11' transform='translate(-125 641)'%3E%3Cpath id='Path_18' data-name='Path 18' d='M242.5,465C119.813,465,20,365.187,20,242.5S119.813,20,242.5,20,465,119.813,465,242.5,365.187,465,242.5,465Z' fill='rgba(22,109,61,0)'/%3E%3Cpath id='Path_19' data-name='Path 19' d='M242.5,40C130.841,40,40,130.841,40,242.5S130.841,445,242.5,445,445,354.159,445,242.5,354.159,40,242.5,40m0-40C376.429,0,485,108.571,485,242.5S376.429,485,242.5,485,0,376.429,0,242.5,108.571,0,242.5,0Z' fill='%23fbf8f1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Mask_Group_1-2' data-name='Mask Group 1' clip-path='url(%23clip-path-2)'%3E%3Cg id='Mask_Group_1-3' data-name='Mask Group 1' transform='translate(1989 2072)' clip-path='url(%23clip-path-3)'%3E%3Cg id='Ellipse_11-2' data-name='Ellipse 11' transform='translate(-125 641)'%3E%3Cpath id='Path_20' data-name='Path 20' d='M242.5,465C119.813,465,20,365.187,20,242.5S119.813,20,242.5,20,465,119.813,465,242.5,365.187,465,242.5,465Z' fill='rgba(22,109,61,0)'/%3E%3Cpath id='Path_21' data-name='Path 21' d='M242.5,40C130.841,40,40,130.841,40,242.5S130.841,445,242.5,445,445,354.159,445,242.5,354.159,40,242.5,40m0-40C376.429,0,485,108.571,485,242.5S376.429,485,242.5,485,0,376.429,0,242.5,108.571,0,242.5,0Z' fill='url(%23linear-gradient)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    //     width: 360px;
    //     height: 258px;
    //     background-position: center;
    //     background-color: transparent;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     z-index: -2;
    //     opacity: .1;
    //     transform-origin: left top;
    //     animation: scaling 1.2s linear infinite;
     
    // }
    .skin-chem-inner {
        width: 100%;
        position: relative;
        padding-top: size(120);
        padding-bottom: size(120);
        padding-left: 15px;
        @include max(991) {
            padding-left: 0;
            padding-top: size(50);
            padding-bottom: size(50)
        }
        >.row>div {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .text-inner {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            // max-width: size(784);
            max-width: 100%;
            padding-left: calc((100vw - 1400px) / 2);
            @include max(1599) {
                padding-left: calc((100vw - 1225px) / 2);
            }
            @include max(1199) {
                padding-left: calc((100vw - 960px) / 2);
            }
            @include max(991) {
                padding-left: calc((100vw - 720px) / 2);
                padding-right: calc((100vw - 720px) / 2);
            }
            @include max(767) {
                padding-left: calc((100vw - 540px) / 2);
                padding-right: calc((100vw - 540px) / 2);
            }
            @include max(576) {
                padding-right: 15px;
                padding-left: 15px;
                max-width: size(784);
                margin-left: auto;
                margin-right: auto;
            }
            @include min(992) {
                padding-right: 30px;
            }
            h4 {
                font-size: 18px;
                line-height: 1.5;
                color: $secondary;
                text-decoration: none;
                font-weight: 300;
                width: 100%;
                text-align: left;
                margin-bottom: size(30);
                @include max(991) {
                    text-align: center;
                }
                @include max(576) {
                    text-align: left;
                }
            }
            h1 {
                // font-size: 55px;
                // line-height: 1.5;
                color: $primary;
                text-decoration: none;
                font-weight: 300;
                width: 100%;
                text-align: left;
                font-family: "GT Super Display";
                @include max(991) {
                    text-align: center;
                }
                @include max(576) {
                    text-align: left;
                }
            }
            p {
                color: #627277;
                text-decoration: none;
                font-weight: 300;
                width: 100%;
                text-align: left;
                margin-bottom: size(80);
                @include max(991) {
                    text-align: center;
                    margin-bottom: size(40);
                    max-width: size(650);
                    margin-left: auto;
                    margin-right: auto;
                }
                @include max(576) {
                    text-align: left;
                    margin-left: 0;
                    margin-right: auto;
                }
            }
            .btn-chem {
                width: 100%;
                max-width: 133px;
                color: #053C57;
                background-color: #E6EBEE;
                @include max(991) {
                    margin-right: auto;
                    margin-left: auto;
                }
                @include max(576) {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
        .image-wrapper {
            width: size(626);
            position: relative;
            margin-left: auto;
            right: -13%;
            @include max(991) {
                width: size(450);
                right: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: size(40);
            }
            @include max(576) {
                width: size(300);
            }
            .image-inner {
                position: relative;
                width: 100%;
                @include max(576) {
                    position: relative;
                    right: -5%;
                }
                .image-outer-container {
                    width: 100%;
                    position: relative;
                    padding-bottom: calc((100 / 100) * 100%);
                    .image-outer-main {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .image-line-wrapper {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    border: 1px solid #DBAC4C;
                    border-radius: 50%;
                    &::after {
                        width: 10px;
                        height: 10px;
                        background-color: #DBAC4C;
                        border-radius: 50%;
                        overflow: hidden;
                        content: "";
                        position: absolute;
                        top: 1%;
                        left: 37%;
                        transform: translateX(-50%);
                    }
                    &::before {
                        width: 10px;
                        height: 10px;
                        background-color: #DBAC4C;
                        border-radius: 50%;
                        overflow: hidden;
                        content: "";
                        position: absolute;
                        left: 35%;
                        transform: translateX(-50%);
                        bottom: 1.4%;
                    }
                }
                .image-text-wrapper {
                    position: absolute;
                    left: -55px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: size(118);
                    background-color: $white;
                    padding: 15px 0;
                    h4 {
                        font-size: 55px;
                        line-height: 1;
                        color: $secondary;
                        text-decoration: none;
                        font-weight: 300;
                        width: 100%;
                        text-align: left;
                        font-family: "GT Super Display";
                        margin-bottom: 0;
                        text-align: center;
                        @include max(576) {
                            font-size: 35px;
                        }
                    }
                    h3 {
                        font-size: 18px;
                        line-height: 1.4;
                        color: #79898D;
                        text-decoration: none;
                        font-weight: 300;
                        width: 100%;
                        text-align: left;
                        text-align: center;
                        @include max(576) {
                            font-size: 12px;
                        }
                    }
                }
                .image-main-wrapper {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    max-width: size(392);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    @include max(991) {
                        width: size(300);
                    }
                    @include max(576) {
                        width: size(190);
                    }
                    &::after {
                        opacity: .5;
                        width: 44px;
                        height: 44px;
                        background-color: #DBAC4C;
                        border-radius: 50%;
                        overflow: hidden;
                        content: "";
                        position: absolute;
                        left: 14%;
                        transform: translateX(-50%);
                        top: 8%;
                        z-index: 5;
                    }
                    &::before {
                        opacity: .5;
                        width: 44px;
                        height: 44px;
                        background-color: #053C57;
                        border-radius: 50%;
                        overflow: hidden;
                        content: "";
                        position: absolute;
                        right: 31%;
                        transform: translateX(50%);
                        bottom: -4px;
                        z-index: 5;
                    }
                    .image-main-container {
                        position: absolute;
                        padding-bottom: calc((100 / 100) * 100%);
                        position: relative;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            position: absolute;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}



@-webkit-keyframes scaling {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
