.inner-banner-image{
    position: relative;
    @include aspectRatio(600, 1500);
    @include max(991){
        @include aspectRatio(619, 1500);
    }
    @include max(576){
        padding-top: calc((400/500) * 100%);
    }
    .banner-content{
        position: absolute;
        left: 0;
        bottom: 150px;
        max-width:800px;
        @include max(991){
            bottom: 50px;
        }
        @include max(576){
            padding: 0 15px;
        }
        p{
            color: #fff;
        }
     
    }
    .container{
        position: relative;
    }
}

.ticker{
  font-size: size(18);
  font-weight: 400;
  color: $secondary;
  display: block;
  margin-bottom: 15px;
}

.about-antiaging-sec{
    .head{
        font-size: size(50);
    }
    &.sc-antiaging-sec{
        padding: size(130) 0 size(100);
        @include max(576){
            padding: size(50) 0 size(50);
        }
    }
}

.about-wrap{
    .left-img{
        @include aspectRatio(585, 757);
        
    }
    .right-section{
        background: $primary;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        @include max(1199){
            justify-content: center;
        }
        .right-content{
            max-width: 650px;
            padding: 50px 50px 50px 80px;
            display: flex;
            flex-wrap: wrap;
            @include max(576){
                padding: 30px 20px 30px 20px;
            }
            .card-item{
                width: 50%;
                border-bottom: 1px solid rgba(219,172,76,0.2);
                border-right:1px solid rgba(219,172,76,0.2) ;
                @include max(576){
                    text-align: center;
                }
                &:nth-child(even){
                    border-right: 0;
                    padding-left: 50px;
                    padding-bottom: 35px;
                    padding-top: 35px;
                    @include max(576){
                        padding-left: 25px;
                    }
                }
                &:nth-child(odd){
                    padding-right: 50px;
                    padding-bottom: 35px;
                    padding-top: 35px;
                    @include max(576){
                        padding-right: 25px;
                    }
                }
                &:last-child{
                    &:nth-child(even){
                        border-bottom: 0;
                    }
                   
                }
                &:nth-last-child(2){
                    border-bottom: 0;
                      
                }
                h3{
                    font-size: size(80);
                    color: $secondary;
                    font-family: "GT Super Display";
                    line-height: 1;
                    @include max(576){
                        font-size: size(50);
                    }
                }
                p{
                    font-size: size(24);
                    color: #fff;
                    font-family: "GT Super Display";
                    margin: 0;
                    @include max(576){
                        font-size: size(20);
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}

.our-mission-vission{
    padding: 140px 0;
    @include max(576){
        padding: 50px 0;
    }
    .title{
        font-family: "GT Super Display";
        font-weight: 300;
        line-height: 1;
        margin-bottom: 20px;
        font-size: size(40);
    }
    .mv-image{
        
        @include aspectRatio(387, 387);
        margin: 0 40px;
        img{
            object-fit: contain;
        }
    }
    p{
        font-size: size(16);
    }
}



.blog-wrap{
    padding: 100px 0;
   @include max(576){
    padding: 50px 0;
   }
    .head-wrap{
        max-width: 900px;
        margin: 0 auto 80px;
    }
}

.blog-item{
    background: #fff;
     border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 13px rgb(0 0 0 / 8%);
   &:hover{
    figure{
        img{
            transform: scale(1.1)
        }
    }
   }
    figure{
        @include aspectRatio(238, 349);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        overflow: hidden;
        margin-bottom: 0;
        img{
            transition: 0.3s all ease-in-out;
        }
    }
    .date{
        display: block;
        font-size: size(16);
        color: $secondary;
        margin-bottom: 10px;
    }
    h3{
        font-size: size(30);
        color: $primary;
        font-family: "GT Super Display";
        line-height: 1;
        margin-bottom: 15px;
    }
    p{
        font-size: size(18);
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .blog-dec{
        padding: 30px 30px 50px;
    }
}
.blog-listing{
    .row{
        row-gap: 50px;
    }
}

.mw-100{
    max-width: 100%;
}
.view-all{
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: $primary;
    &:hover{
        svg{
            transform: translateX(2px);
        }
        color: $secondary;
    }
    svg{
        margin-left: 5px;
        transition: all 0.3s ease-in-out;
    }
}
.blog-details{
    padding: 100px 0 50px;
    @include max(991){
        padding: 50px 0 0;
    }
    .top-section{
        text-align: center;
        margin-bottom: 50px;
        @include max(991){
            margin-bottom: 30px;
        }
        h1,h2{
            font-size: size(50);
            color: $primary;
            font-family: "GT Super Display";
            line-height: 1;
            margin-bottom: 15px;
            @include max(991){
                font-size: size(35);
                line-height: 1.2;
            }
            @include max(576){
                font-size: size(26);
            }
        }
        p{
            font-size: size(16);
            font-weight: 400;
            span{
                color: $secondary;
            }
        }
    }
    .middle-section{
        figure{
            @include aspectRatio(450, 1046);
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 45px;
            @include max(991){
                margin-bottom: 30px;
            }
            @include max(576){
                @include aspectRatio(350, 600);
            }
        }
        .social {
            display: flex;
            align-items: center;
            margin-top: 10px;
            a {
                width: 45px;
                height: 45px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #e3e3e3;
                margin-right: 10px;
                transition: 0.2s all ease-in-out;
                &:hover {
                    background: $secondary;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        p{
            font-size: size(16);
            font-weight: 300;
            line-height: 1.9;
        }
        p + h2,h3,h4,h5{
            margin-top: 25px;
        }
        h2,h3,h4,h5 + p{
            margin-bottom: 15px;
        }
        p+ p{
            margin-bottom: 15px;
        }
        h2,h3,h4,h5,h6{
            font-weight: 500;
            color: #1B1B1B;
            @include max(576){
                line-height: 1.4;
            }
        }
        h2{
            font-size: size(25);
        }
        h3{
            font-size: size(20);
        }
        h4{
            font-size: size(18);
        }
        ul + p{
            margin-top: 15px;
        }
        ul{
            li{
                font-weight: 300;
            }
        }
    }
}

.blog-share{
    position: sticky;
    top: 160px;
    @include max(991){
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 0;
    }
}


.news-wrap{
    padding: 100px 0;
    @include max(576){
        padding: 50px 0;
    }
    .head{
        font-size: size(30);
        @include max(576){
            font-size: size(33);
            text-align: center;
            margin-bottom: 30px;
        }
    }
}

.news-list{
    &.right{
      ul{
        border-right: 0;
        li{
            a{
                @include max(576){
                    flex-direction: column;
                    align-items: flex-start
                }
                h3{
                    font-size: size(20);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
                .dec{
                    width: calc(100% - 130px);
                    padding-left: 20px;
                    @include max(576){
                        padding-left: 0;
                    }
                }
                .head-image{
                    max-width: 130px;
                    width: 100%;
                    @include max(576){
                        max-width: 100%;
                    }
                }
            }
        }
      }
    }
    ul{
        padding: 0;
        border-right: 1px solid #ebebeb;
         padding-right: 50px;
         @include max(576){
            padding-right: 0;
            border-right: 0;
         }
        li{
            padding: 0 0 25px;
            list-style: none;
            border-bottom: 1px solid #ededed;
            margin-bottom: 22px;
            a{
                display: flex;
                text-decoration: none;
                align-items: center;
                @include max(576){
                    flex-direction: column;
                    align-items: flex-start
                }
                figure{
                    @include aspectRatio(172, 221);
                    margin-bottom: 0;
                }
                .dec{
                    width: calc(100% - 221px);
                    padding-left: 40px;
                    @include max(576){
                        padding-left: 0;
                        width: 100%;
                        margin-top: 20px;
                    }
                }
                .head-image{
                    max-width: 230px;
                    width: 100%;
                    @include max(576){
                        max-width: 100%;
                    }
                }
                .date{
                    font-size: size(16);
                    color: $secondary;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                h3{
                    color: $primary;
                    font-family: "GT Super Display";
                    font-size: size(25);
                    line-height: 1.2;
                    margin-bottom: 15px;
                }
                p{
                    font-size: size(16);
                    font-weight: 300;
                    line-height: 1.4;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    margin-bottom: 0;
                }
            }
        }
    }
}


.form-wrap{
    display: flex;
    @include max(576){
        flex-direction: column;
    }
    .leftWrap{
        max-width: 489px;
        width: 100%;
        figure{
            @include aspectRatio(748, 489);
            margin-bottom: 0;
            @include max(576){
                @include aspectRatio(500, 489);
            }
        }
    }
    .rightWrap{
        background: $primary;
        width: calc(100% - 489px);
        padding: 70px 50px 100px 100px;
        position: relative;
        @include max(1199){
            padding: 70px 30px 100px 30px;
        }
        @include max(576){
            width: 100%;
            padding: 40px 30px 100px 30px;
        }
        .shape-image{
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 450px;
        }
        .form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #fff;
            padding: 20px 0;
            font-size: size(16);
            color: #fff;
            background: transparent;
            @include max(767.98) {
                font-size: size(14);
            }
            &:focus,
            &:focus-visible,
            &:focus-within {
                box-shadow: none;
                outline: none;
            }
            &:focus~label,
            &:not(:placeholder-shown)~label {
                transform: scale(0.75) translateY(-0.8rem) translateX(0.15rem);
            }
            
        }
        label {
            padding: 10px 0;
            font-weight: $font-light;
            font-size: size(16);
            color: #fff;
            @include max(767.98) {
                font-size: size(14);
            }
        }
      h3{
        font-size: size(35);
        color: #fff;
        line-height: 1;
        margin-bottom: 10px;
        @include max(576){
            font-size: size(30);
            line-height: 1.3;
        }
      }
      p{
        color: #fff;
        font-size: size(16);
        font-weight: 300;
      }
      .btn-wrap{
        margin-top: 50px;
      }
    }
}

.date-time{
    svg{
        position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
    }

}

input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}
input[type="time"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}
.news-detail-sec{
    .news-list{
        max-width: 720px;
        @include max(576){
            margin-bottom: 50px;
        }
        .head {
            font-size: size(36);
            margin-bottom: size(20);
        }
        .news-list-detail{
            color: #6C6C6C;
            font-weight: $font-light;
            margin-bottom: size(30);
            .date{
                margin-right: 10px;
            }
            .post{
                margin-left: 5px;
            }
        }
        .news-detail-img{
            margin-bottom: size(70);
            @include max(576){
                margin-bottom: size(30);
            }
            .img-container{
                @include aspectRatio(420, 720);

            }
        }
    }
}