.gallery-main-sec{
    margin-bottom: 0;
    padding: size(110) 0;
    position: relative;
    .shape-main {
        width: 32.5%;
        position: absolute;
        left: -10%;
        top: -20%;
        animation: scaling 1.2s infinite;
        z-index: -1;
    }
    @include max(576){
        padding: 50px 0;
    }
}
.gallery-detail-sec{
    position: relative;
    padding: 50px 0;
    .shape-main {
        width: 32.5%;
        position: absolute;
        left: -10%;
        top: -20%;
        animation: scaling 1.2s infinite;
        z-index: -1;
    }
    .gallery-wrapper{
        .image-rounded{
            .gallery-image{
                overflow: hidden;
                border-radius: 10px;
            }
        }
    }
}

.gallery-container{
    overflow: hidden;
    img{
        transition: 0.3s all ease-in-out;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
}
.gallery-detail-sec{
    .gallery-wrapper {
        &.glightbox{
            
            .gallery-image{
                border-radius: 12px;
                overflow: hidden;
            }
        }
    }
}
